@import url(header.css);
@import url(buttons-style.css);

*   {
    margin: 0;
}
body    {
    min-height: 80dvh;
    display: grid;
    justify-items: center;
    background-color: #F5EEDC;
    padding-bottom: 200px;
}
main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    justify-content: center;
    align-items: center;
    width: 70%;
    &>div{
        display: flex;
        width: 100%;
        &>section{
            width: fit-content;
        }
    }
}
strong  {
    color: #835900;
}
#sobre-mi  {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#tecnologias {
    flex-direction: column;
    justify-content: start;
    gap: 48px;
    max-width: 70%;
    &>ul{
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 24px;
        &>li{
            background-color: #835900;
            border-radius: 30px;
            padding: 4px 12px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 12px;
            width: 100px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #ffffff;
            font-weight: 600;
        }
    }
}
#projects {
    flex-direction: column;
    justify-content: start;
    gap: 48px;
    max-width: 70%;
}
.presentation {
    margin: 24px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 40%;
    &>p {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
    }
}
.ppf   {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: solid #835900 12px;
}
.links-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
}
a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    width: fit-content;
}
.link {
    margin-top: 48px;
    background-color: #835900;
    padding: 8px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    color: #ffffff;
    transform: scale(1);
    transition: transform .2s ease;
}
.link:hover {
    transform: scale(1.1);
}
h2, h3, h4 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 64px;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
h3  {
    font-size: 48px;
}
h4 {
    font-size: 32px;
}
.project-container {
    place-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #f1e1b7;
    padding: 30px 40px;
    border-radius: 20px;
    border: solid 2px #835a0086;
    max-width: min-content;
    &>img {
        width: 350px;
        border: solid 2px #ffbe3196;
        border-radius: 10px;
    }
}
