@import url(header.css);
@import url(buttons-style.css);

*   {
    margin: 0;
}
body    {
    min-height: 80dvh;
    display: grid;
    place-self: center;
    grid-template-rows: auto 1fr auto;
    background-color: #F5EEDC;
}
main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
strong  {
    color: #835900;
}
.container  {
    display: grid;
    grid-template-columns: auto 0.6fr;
    place-content: center;
    gap: 100px;
    margin: 200px 0 0 0;
}
.presentation {
    margin: 24px 0 0 0;
    padding: 0 64px 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &>h2 {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 64px;
    }
    &>p {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
    }
}
.ppf   {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: solid #835900 12px;
}
.links-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
}
a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    width: fit-content;
}
.link {
    margin-top: 48px;
    background-color: #835900;
    padding: 8px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    color: #ffffff;
}