.navbar    {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 18px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #835900;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.navbar-link    {
    position: relative;
    color: #ffffff;
}
.navbar-link:hover  {
    color: #ffd000
}