.navbar    {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 18px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    background: rgba(109, 74, 0, 0.904);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.navbar-link    {
    position: relative;
    color: #ffffff;
}
.navbar-link:hover  {
    color: #ffd000
}