---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import Tecnologias from "../components/Tecnologias.astro";
---
<Layout title="Fhueth - Porfolio">
    <main>
        <AboutMe />
        <Tecnologias />
    </main>
</Layout>