<div id="tecnologias" class="container">
    <h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="56.888888888888886" viewBox="0 0 576 512">
            <path fill="#835900" d="M348.8 32C340.7 46.1 336 62.5 336 80v16H64v224h272v64H64c-35.3 0-64-28.7-64-64V96c0-35.3 28.7-64 64-64zM336 432c0 17.5 4.7 33.9 12.8 48H120c-13.3 0-24-10.7-24-24s10.7-24 24-24zm96-400h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48h-96c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48m24 64c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24zm56 144a32 32 0 1 0-64 0a32 32 0 1 0 64 0"/>
        </svg>
        Tecnologías
    </h3>
    <ul>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 128 128">
                <path fill="#ffffff" d="M64 30.332C28.654 30.332 0 45.407 0 64s28.654 33.668 64 33.668c35.345 0 64-15.075 64-33.668S99.346 30.332 64 30.332m-5.982 9.81h7.293v.003l-1.745 8.968h6.496q6.132 0 8.458 2.139q2.328 2.14 1.398 6.93l-3.053 15.7h-7.408l2.902-14.929q.495-2.546-.365-3.473q-.86-.925-3.658-.925h-5.828L58.752 73.88h-7.291zM26.73 49.114h14.133q6.379 0 9.305 3.348q2.925 3.347 1.758 9.346q-.481 2.472-1.625 4.52t-2.99 3.745q-2.202 2.06-4.891 2.936q-2.691.876-6.858.875h-6.294l-1.745 8.97h-7.35zm57.366 0h14.13q6.378 0 9.303 3.348h.002q2.926 3.347 1.76 9.346q-.48 2.472-1.623 4.52t-2.992 3.745q-2.2 2.06-4.893 2.936q-2.69.876-6.855.875h-6.295l-1.744 8.97h-7.35zm-51.051 5.325l-2.742 14.12h4.468q4.446.001 6.622-1.673q2.174-1.675 2.937-5.592q.728-3.762-.666-5.309t-5.584-1.547zm57.363 0l-2.744 14.12h4.47q4.446.001 6.622-1.673q2.173-1.675 2.935-5.592q.73-3.762-.664-5.309t-5.584-1.547z"/>
            </svg>
            PHP
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 128 128">
                <path fill="#ffffff" d="M47.617 98.12c-19.192 5.362 11.677 16.439 36.115 5.969c-4.003-1.556-6.874-3.351-6.874-3.351c-10.897 2.06-15.952 2.222-25.844 1.092c-8.164-.935-3.397-3.71-3.397-3.71m33.189-10.46c-14.444 2.779-22.787 2.69-33.354 1.6c-8.171-.845-2.822-4.805-2.822-4.805c-21.137 7.016 11.767 14.977 41.309 6.336c-3.14-1.106-5.133-3.131-5.133-3.131m11.319-60.575c.001 0-42.731 10.669-22.323 34.187c6.024 6.935-1.58 13.17-1.58 13.17s15.289-7.891 8.269-17.777c-6.559-9.215-11.587-13.793 15.634-29.58m9.998 81.144s3.529 2.91-3.888 5.159c-14.102 4.272-58.706 5.56-71.095.171c-4.45-1.938 3.899-4.625 6.526-5.192c2.739-.593 4.303-.485 4.303-.485c-4.952-3.487-32.013 6.85-13.742 9.815c49.821 8.076 90.817-3.637 77.896-9.468M85 77.896c2.395-1.634 5.703-3.053 5.703-3.053s-9.424 1.685-18.813 2.474c-11.494.964-23.823 1.154-30.012.326c-14.652-1.959 8.033-7.348 8.033-7.348s-8.812-.596-19.644 4.644C17.455 81.134 61.958 83.958 85 77.896m5.609 15.145c-.108.29-.468.616-.468.616c31.273-8.221 19.775-28.979 4.822-23.725c-1.312.464-2 1.543-2 1.543s.829-.334 2.678-.72c7.559-1.575 18.389 10.119-5.032 22.286M64.181 70.069c-4.614-10.429-20.26-19.553.007-35.559C89.459 14.563 76.492 1.587 76.492 1.587c5.23 20.608-18.451 26.833-26.999 39.667c-5.821 8.745 2.857 18.142 14.688 28.815m27.274 51.748c-19.187 3.612-42.854 3.191-56.887.874c0 0 2.874 2.38 17.646 3.331c22.476 1.437 57-.8 57.816-11.436c.001 0-1.57 4.032-18.575 7.231"/>
            </svg>
            Java
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#ffffff" d="m3 2l1.578 17.824L12 22l7.467-2.175L21 2zm14.049 6.048H9.075l.172 2.016h7.697l-.626 6.565l-4.246 1.381l-4.281-1.455l-.288-2.932h2.024l.16 1.411l2.4.815l2.346-.763l.297-3.005H7.416l-.562-6.05h10.412z"/>
            </svg>
            HTML
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#ffffff" d="m3 2l1.578 17.834L12 22l7.468-2.165L21 2zm13.3 14.722l-4.293 1.204H12l-4.297-1.204l-.297-3.167h2.108l.15 1.526l2.335.639l2.34-.64l.245-3.05h-7.27l-.187-2.006h7.64l.174-2.006H6.924l-.176-2.006h10.506z"/>
            </svg>
            CSS
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="27.428571428571427" viewBox="0 0 448 512"><path fill="#ffffff" d="M448 96c0-35.3-28.7-64-64-64H64C28.7 32 0 60.7 0 96v320c0 35.3 28.7 64 64 64h320c35.3 0 64-28.7 64-64zM180.9 444.9c-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6c13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7c0 43.6-25.6 63.5-62.9 63.5m85.8-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6c17.4 0 28.6-8.7 28.6-20.8c0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5c0-31.6 24.1-55.6 61.6-55.6c26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18c-12.3 0-20.1 7.8-20.1 18c0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2c0 37.8-29.8 58.6-69.7 58.6c-39.1 0-64.4-18.6-76.7-43"/></svg>
            JavaScript
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#ffffff" d="M9.24 19.035c-.901-.826-1.164-2.561-.789-3.819c.65.793 1.552 1.044 2.486 1.186c1.44.218 2.856.137 4.195-.524c.153-.076.295-.177.462-.278c.126.365.159.734.115 1.11c-.107.915-.56 1.622-1.283 2.158c-.289.215-.594.406-.892.608c-.916.622-1.164 1.35-.82 2.41l.034.114a2.4 2.4 0 0 1-1.07-.918a2.6 2.6 0 0 1-.412-1.401c-.003-.248-.003-.497-.036-.74c-.081-.595-.36-.86-.883-.876a1.034 1.034 0 0 0-1.075.843q-.013.058-.033.126M4.1 15.007s2.666-1.303 5.34-1.303l2.016-6.26c.075-.304.296-.51.544-.51c.25 0 .47.206.545.51l2.016 6.26c3.167 0 5.34 1.303 5.34 1.303L15.363 2.602c-.13-.366-.35-.602-.645-.602H9.283c-.296 0-.506.236-.645.602c-.01.024-4.538 12.405-4.538 12.405"/>
            </svg>
            Astro
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#ffffff" d="M23.157 4.412c-.676.284-.79.31-1.673.372c-.65.045-.757.057-1.212.209c-.75.246-1.395.75-2.02 1.59c-.296.398-1.249 1.913-1.249 1.988c0 .057-.65.998-.915 1.32c-.574.713-1.08 1.079-2.14 1.59c-.77.36-1.224.524-4.102 1.477c-1.073.353-2.133.738-2.367.864c-.852.449-1.515 1.036-2.203 1.938c-1.003 1.32-.972 1.313-3.042.947a12 12 0 0 0-.675-.063c-.644-.05-1.023.044-1.332.334L0 17.193l.177.088c.094.05.353.234.561.398c.215.17.461.347.55.391c.088.044.17.088.183.101s-.089.17-.228.353c-.435.581-.593.871-.574 1.048c.019.164.032.17.43.17c.517-.006.826-.056 1.261-.208c.65-.233 2.058-.94 2.784-1.4c.776-.5 1.717-.998 1.956-1.042c.082-.02.354-.07.594-.114c.58-.107 1.464-.095 2.587.05c.108.013.373.045.6.064c.227.025.43.057.454.076c.026.012.474.037.998.056c.934.026 1.104.007 1.3-.189c.126-.133.385-.631.498-.985c.209-.643.417-.921.366-.492c-.113.966-.322 1.692-.713 2.411c-.259.499-.663 1.092-.934 1.395c-.322.347-.315.36.088.315c.619-.063 1.471-.397 2.096-.82c.827-.562 1.647-1.691 2.19-3.03c.107-.27.22-.22.183.083c-.013.094-.038.315-.057.498l-.031.328l.353-.202c.833-.48 1.414-1.262 2.127-2.884c.227-.518.877-2.922 1.073-3.976a10 10 0 0 1 .271-1.042c.127-.429.196-.555.48-.858c.183-.19.625-.555.978-.808c.72-.505.953-.75 1.187-1.205c.208-.417.284-1.13.132-1.357c-.132-.202-.284-.196-.763.006"/>
            </svg>
            MariaDB
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1025 1024">
                <path fill="#ffffff" d="M864.95 544q13-27 22.5-113.5t9.5-142.5q0-73-49.5-147.5T736.95 32q12-4 33-13.5t35-14t28-4.5q25 0 57 12.5t62.5 35t51.5 61t21 83.5q0 51-19 125t-58 143t-83 84m-64-288q9 0 24 9q8 30 8 55q0 78-15 171q-16-32-32.5-91t-16.5-80q0-26 9.5-45t22.5-19m-96 96q0 37 29 96.5t70 111.5q-13 54-32 105q90 69 193 69q-46 34-100 34q-41 0-96-30v158q0 48-40 88t-88 40q-37 0-50.5-17t-13.5-47V768q0-23-21-51q-33 26-79.5 38.5t-91.5 12.5q-9 0-17-1.5t-13.5-3.5t-11-6t-8-6t-8-8t-6.5-7q33 0 83.5-21.5t88.5-53.5q-23-14-44-21q26-77 45-151.5t19-104.5q0-92-27-142t-69-50q-45 0-83 20q20-107 71.5-159.5T544.95 0q67 0 137.5 56.5T794.95 193q-90 5-90 159m-320-96q64 0 64 96q0 43-9 86t-28 105.5t-27 96.5q-64-119-64-256q0-50 3-93q29-35 61-35m-73 368q-80 80-119 80q-26 0-59.5-44t-63-111t-49.5-156t-20-169q0-35 12.5-72.5t35-72t60.5-57t84-22.5q60 0 147 34q-40 40-61.5 121.5T256.95 352q0 182 55 272"/>
            </svg>
            PostgreSQL
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#ffffff" d="M2.6 10.59L8.38 4.8l1.69 1.7c-.24.85.15 1.78.93 2.23v5.54c-.6.34-1 .99-1 1.73a2 2 0 0 0 2 2a2 2 0 0 0 2-2c0-.74-.4-1.39-1-1.73V9.41l2.07 2.09c-.07.15-.07.32-.07.5a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2c-.18 0-.35 0-.5.07L13.93 7.5a1.98 1.98 0 0 0-1.15-2.34c-.43-.16-.88-.2-1.28-.09L9.8 3.38l.79-.78c.78-.79 2.04-.79 2.82 0l7.99 7.99c.79.78.79 2.04 0 2.82l-7.99 7.99c-.78.79-2.04.79-2.82 0L2.6 13.41c-.79-.78-.79-2.04 0-2.82"/>
            </svg>
            GIT
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                    <path d="M6 6a3 3 0 0 1 3-3h3v6H9a3 3 0 0 1-3-3m6-3h3a3 3 0 0 1 0 6h-3z"/>
                    <path d="M12 12a3 3 0 1 1 6 0a3 3 0 0 1-6 0m-6 6a3 3 0 0 1 3-3h3v3a3 3 0 0 1-6 0m0-6a3 3 0 0 1 3-3h3v6H9a3 3 0 0 1-3-3"/>
                </g>
            </svg>
            Figma
        </li>
    </ul>
</div>